* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: hidden;
  font-size: 100%;
}

body {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: -0.75rem;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-family: sans-serif;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h1 {
  margin-bottom: 2rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main {
  width: 100%;
}

.datetime {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.datetime .slot {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-box-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.datetime .mdi {
  margin-right: 1.25rem;
  font-size: 8rem;
}

.datetime__time {
  font-size: 3rem;
}

.datetime__date {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.weather {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.weather__current .slot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.weather__current .weather__icon {
  margin-right: 1rem;
  font-size: 6.5rem;
  text-align: center;
}

.weather__current .weather__temperature {
  font-size: 2.25rem;
  font-weight: bold;
}

.weather__forecast .slot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.weather__forecast .slot li {
  margin-right: 1rem;
}

.weather__forecast .weather__icon {
  font-size: 3.5rem;
  text-align: center;
}

.weather__forecast .weather__temperature {
  font-size: 1.125rem;
  text-align: right;
}

.weather__forecast .weather__temperature-high {
  font-weight: bold;
}

.scenes {
  margin-bottom: 1rem;
}

.scenes .slot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.scene {
  position: relative;
  background-color: #000;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 22%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 22%;
  flex: 0 0 22%;
  margin: 0.5rem;
  -webkit-border-radius: 0.5rem;
     -moz-border-radius: 0.5rem;
          border-radius: 0.5rem;
  outline: 0.125rem solid #6d6d6d;
  outline-offset: 0.125rem;
}

.scene::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.scene__content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  outline: none;
}

.scene .mdi {
  display: block;
  color: #ffffff;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.scene__button {
  position: absolute;
  width: 100%;
  height: 100%;
}

.switches .slot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.switches .mdi {
  display: block;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.switch {
  margin: 1rem;
  text-align: center;
}

.switch__box {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch__box input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7e7e7e;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
}

.switch__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.switch__box input:checked + .switch__slider {
  background-color: #141414;
}

.switch__box input:focus + .switch__slider {
  -webkit-box-shadow: 0 0 1px #2c2c2c;
  -moz-box-shadow: 0 0 1px #2c2c2c;
  box-shadow: 0 0 1px #2c2c2c;
}

.switch__box input:checked + .switch__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  -moz-transform: translateX(26px);
  -o-transform: translateX(26px);
  transform: translateX(26px);
}
