* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  font-size: 1rem;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 2rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main {
  width: 100%;
}

.weather__current .slot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.weather__current .weather__icon {
  margin-right: 2rem;
  font-size: 7.5rem;
  text-align: center;
}

.weather__current .weather__temperature {
  font-size: 2.5rem;
}

.weather__forecast .slot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.weather__forecast .slot li {
  margin-right: 1rem;
}

.weather__forecast .weather__icon {
  font-size: 3.5rem;
  text-align: center;
}

.weather__forecast .weather__temperature {
  font-size: 1.25rem;
  text-align: right;
}

.weather__forecast .weather__temperature-high {
  font-weight: bold;
}

.datetime {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.datetime .slot {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-box-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.datetime .mdi {
  font-size: 6.5rem;
  opacity: 0.8;
}

.datetime__time {
  font-size: 3rem;
}

.datetime__date {
  margin-left: 0.5rem;
  font-size: 1.25rem;
}
